{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    we have different variety of drinks

{% endblock %}
{% block title %}
    Search Result -ABC Cafe

{% endblock %}
{% block content %}
<div>
    <div>
        <p class="text-center">
            You are searched for:<b>{{query}}</b>
        </p>
    </div>
    <br>
    <div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card p-3 shadow text-center" style="min-width:18rem;">
                <a href="{{product.get_url}}"><img class="cat_img" src="{{product.img.url}}" alt="{{product.name}}"></a>
                <div class="card-body">
                    <h3>{{product.name}}</h3>
                    <p>{{product.price}}</p>
                </div>
            </div>
            <br>
        </div>
        <br>
        {% empty %}
        <div class="mx-auto">
            <p class="text-center"> 0 Result founded</p>
        </div>
        {% endfor %}
    </div>
</div>
</div>
<br>
{% endblock %}